// *:active,
// *:hover,
// *:focus {
//   outline: none;
// }

.ember-power-calendar .ember-power-calendar-weekdays {
  color: #333;
}

.ember-power-calendar .ember-power-calendar-week,
.ember-power-calendar .ember-power-calendar-weekdays {
  height: 30px;
  padding-left: 0;
  padding-right: 0;
}

.ember-power-calendar .ember-power-calendar-day {
  color: rgba(92, 112, 128, .5);
  cursor: pointer;
}

.ember-power-calendar .ember-power-calendar-day--current-month {
  color: rgb(24, 32, 38);
}

// selected
.ember-power-calendar-day--current-month.ember-power-calendar-day--selected {
  background-color: #ebf1f5;
  ;
  color: rgb(24, 32, 38);
}

// today
.ember-power-calendar .ember-power-calendar-day--today,
.ember-power-calendar .ember-power-calendar-day:not([disabled]):hover {
  background: #d8e1e8;
  color: #182026;
}

.ember-power-calendar-day--range-start,
.ember-power-calendar-day--range-end {
  background-color: #137cbd !important;
  color: #fff !important;
}

.ember-power-calendar .ember-power-calendar-day--focused {
  // border-radius: 3px;
  background-color: #137cbd;
  color: #fff;
}

.ember-power-calendar nav button {
  padding-bottom: 6px;
  margin: 5px;
  outline: none;
}

.ember-power-calendar nav .ember-power-calendar-nav-title span {
  padding: 5px;
  vertical-align: -moz-middle-with-baseline;
}

.ember-power-calendar nav button:hover,
.ember-power-calendar nav .ember-power-calendar-nav-title span:hover {
  border-radius: 3px;
  background: #d8e1e8;
  color: #182026;
}

.with-invisible-select {
  position: relative;

  select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
}

.bp3-divider {
  border-right: 1px solid rgba(16, 22, 26, .15);
  border-bottom: 1px solid rgba(16, 22, 26, .15);
}

.date-range-pckr {
  width: 200px;
}


.calendar {
  float: left;
  width: 200px;
}

.calendar-option {
  float: left;
}
.bp3-date-range-picker:last-child {
    margin-left: 20px;
  }
  
  .ember-power-calendar-day--other-month {
    background-color: none !important;
  }
  
 
  