<div class="{{TREE}} {{ELEVATION_0}}">
  {{db-tree/db-main-node
    content=content
    onNodeCollapse=onNodeCollapse
    onNodeClick=onNodeClick
    onNodeDoubleClick=onNodeDoubleClick
    onNodeExpand=onNodeExpand
    onNodeMouseEnter=onNodeMouseEnter
    onNodeMouseLeave=onNodeMouseLeave
  }}
</div>