@import '../../_private/common/variables';

$collapse-transition: ($pt-transition-duration * 3) $pt-transition-ease !default;

.#{$ns}-collapse {
  height: 0;
  overflow-y: hidden;
  transition: height $collapse-transition;

  .#{$ns}-collapse-body {
    transition: transform $collapse-transition;

    &[aria-hidden='true'] {
      display: none;
    }
  }
}
