.docs--mb-4 {
  margin-bottom: 0px !important;
}

.btn-bottom-padding {
  padding-bottom: 25px;
  padding-right: 20px;
}

.webkit-box-div {
  display: -webkit-box;
}

.bp3-dialog-footer {
  float: right;
}

.bp3-tag-input.bp3-popover-open {
  -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, .3), inset 0 1px 1px rgba(16, 22, 26, .2) !important;
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, .3), inset 0 1px 1px rgba(16, 22, 26, .2) !important;
}

.docs-panel-stack-example {
  -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, .15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, .15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
  width: 300px;
  height: 240px;
}

.docs-panel-stack-contents-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  margin-top: 72px;
}

.docs-viewer {
  .AddonDocs-DocsViewer-Nav {
    background-color: #fff !important;
  }

  main {
    margin-top: 0px !important;
    background: #f5f8fa !important;
  }

  .docs-rounded>div {
    padding: 0px !important;
  }
}

.docs-md ul {
  margin-bottom: 0px !important;
}

.docs-bg-brand,
body {
  background-color: #191970 !important;
  background-color: var(--brand-primary, #191970) !important;
}

.docs-text-brand {
  color: #191970 !important;
  color: var(--brand-primary, #191970) !important;
}


.docs-modifiers-table {
  .bp3-heading {
    font-size: 13px !important;
  }

  .docs-prop-type {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .docs-example-frame {
    display: block !important;
    margin-right: 0px !important;

    .docs-example {
      margin-right: 0px !important;
    }

    .docs-example-options {
      margin-right: 0px !important;
      max-width: 100% !important;
    }
    .bp3-html-select{
      width: 70%;
    }
    .bp3-input-group{
      width: 61%;
    }
  }
  .bp3-tree.bp3-elevation-0 {
    width: 274px !important;
}
.ember-power-calendar.calendar-option{
  width: 100% !important;
}
.demo-range-calendar-with-pretty-range-ends-yo{
  width: 100% !important;
  margin-left: 0px !important;
}


}

// .htmlbars.ember-view.hljs{
//   padding-top: 32px;
// }
// .javascript.ember-view.hljs{
//   padding-top: 32px;
// }
.demo-container{
  padding-bottom: 10px;
}

.subnav-section{
  margin-top: 4px;
  margin-left: 14px ;
  li{
  font-weight: 500  !important;
    margin-top: 5px !important;
    font-size: 12px !important;
  }
}
li.docs-text-xs{
  font-weight: bold ;
}
.docs-popover-example-scroll{
  // width: 718px !important;
}