body {
  padding: 50px;
}
.comp_viewport {
  display: block;
  position: relative;
  margin: 10px auto 20px;
}
.demo_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin: 25px 0 10px;
}
.demo_sub_title {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 25px 0 10px;
}
