.tooltip-popper {
    background: #394b59;
    color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;

}
.tooltip-popper.primary{
    background-color: #137cbd;
}
.tooltip-popper.success{
    background-color: #0a6640;
}
.tooltip-popper.danger{
    background-color: #db3737;
}
.tooltip-popper.warning{
    background-color: #d9822b;
}
.tooltip-popper .popper-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip-popper .popper-arrow {
    border-color: #394b59;
    &.primary{
        border-color: #137cbd;
    }
    &.success{
        border-color: #0a6640;
    }
    &.warning{
        border-color: #d9822b;
    }
    &.danger{
        border-color: #db3737;
    }
}

.tooltip-popper[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip-popper[x-placement^="top"] .popper-arrow {
    border-width: 13px 13px 0 13px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -7px;
    left: calc(50% - 15px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip-popper[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip-popper[x-placement^="bottom"] .popper-arrow {
    border-width: 0 13px 13px 13px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -7px;
    left: calc(50% - 17px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip-popper[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip-popper[x-placement^="right"] .popper-arrow {
    border-width: 13px 13px 13px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -7px;
    top: calc(50% - 18px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip-popper[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip-popper[x-placement^="left"] .popper-arrow {
    border-width: 13px 0 13px 13px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -7px;
    top: calc(50% - 16px);
    margin-left: 0;
    margin-right: 0;
}