<div class="docs-hero">
    {{docs-hero
    prefix='BlueprintJs'
    heading='Addons in EmberJs'
    byline='Blueprint components for Web App'
    }}

</div>
<div class='docs-container docs-md' style="padding-top: 45px;">
    <section class='docs-max-w-md docs-mx-auto docs-pb-8'>
        <div style="" class='bp3-running-text bp3-text-large'>
            {{docs-introduction}}
        </div>
        <div class='docs-my-16 docs-text-right'>
            {{#link-to
            'docs'
            class='docs-bg-grey-darkest hover:docs-bg-black docs-text-white docs-py-2 docs-px-4 docs-no-underline
            docs-rounded'
            }}
            Read the docs →
            {{/link-to}}
        </div>
    </section>
</div>