.ember-view {
  align-items: center;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
