.popper{
  z-index: 15;
}
.popper[x-placement^="top"] {
  &.popper-arrow-active {
    top: -12px !important;
  }
}

.popper[x-placement^="top"] .popper-arrow {

  left: calc(50% - 5px);
  top: calc(100% - 19px);

  svg {
    transform: rotate(-90deg);
  }
}

.popper[x-placement^="bottom"] {
  &.popper-arrow-active {
    .popper-margin-height {
      margin-top: 15px;
    }
  }
}


.popper[x-placement^="bottom"] .popper-arrow {
  left: calc(50% - 5px);
  top: -11px;
  transform: rotate(90deg);
}

.popper[x-placement^="right"] {
  &.popper-arrow-active {
    .popper-margin-height {
      margin-left: 15px;
    }
  }
}

.popper[x-placement^="right"] .popper-arrow {
  left: -11px;
  transform: rotate(0deg);
}

.popper[x-placement^="left"] {
  &.popper-arrow-active {
    left: -12px !important;
  }

}

.popper[x-placement^="left"] .popper-arrow {
  left: calc(100% - 19px);
  transform: rotate(180deg);
}
